Makefile
Makefile.in
stamp-h1
.deps
.libs

/aclocal.m4
/autom4te.cache/
/build/compile
/build/config.*
/build/depcomp
/build/install-sh
/build/ltmain.sh
/build/missing
/build/*.pyc
/build/*.pyo

/m4/libtool.m4
/m4/lt*.m4

/config.log
/config.status
/config.h*
/configure
/libtool
*~
*.o
*.lo
*.so
*.la
*.lai
/*.vcl

/src/vcc_if.*
/man/*.3
